header {
	img {
		max-height: 100%;
	}
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 900;


	.menu-wrap {
		position: absolute;
		height: 100%;
		z-index: 9999;
		width: auto;
		top: 5.5vh;
		right: 5.5vh;
		cursor: pointer;
		@include maxs($breakpoint-tab) {
			top: 3.70vh;
			right: 3.70vh;
		}
	}

	.menu-trigger {
		display: block;
		background: url("../img/icon_all.svg") 0 0 no-repeat;
		background-size: contain;
		width: 4.583vh;
		height: 4.861vh;
		@include maxs($breakpoint-tab) {
			width: 2.91vh;
			height: 2.91vh;
      width: calc(var(--vh, 1vh) * 6.14);
      height: calc(var(--vh, 1vh) * 6.61);
		}
	}


	.menu-wrap2 {
		position: absolute;
		width: 92px;
		height: 100%;
		top: 0;
		right: 0;
		z-index: 1;
		cursor: pointer;
		@include maxs($breakpoint-tab) {
			width: 70px;
		}
	}

	.menu-trigger2,
	.menu-trigger2 span {
		display: inline-block;
		transition: all 0.4s;
		box-sizing: border-box;
	}

	.menu-trigger2 {
		position: absolute;
		width: 44px;
		height: 28px;
		top: 20px;
		right: 12px;
    transition: all 0.1s ease-in-out;
		@include maxs($breakpoint-tab) {
			right: 2.2vw;
		}
	}

	.menu-trigger2 span {
		position: absolute;
		right: 0;
		width: 100%;
		height: 4px;
		border-radius: 2px;
		background-color: #000;
	}

	.menu-trigger2 span:nth-of-type(1) {
		top: 0;
	}

	.menu-trigger2 span:nth-of-type(2) {
		top: 13px;
	}

	.menu-trigger2 span:nth-of-type(3) {
		bottom: 0;
	}

	.menu-trigger2 span:nth-of-type(1) {
		-webkit-transform: translateY(9px) rotate(-45deg);
		transform: translateY(9px) rotate(-45deg);
	}

	.menu-trigger2 span:nth-of-type(2) {
		left: 50%;
		opacity: 0;
		-webkit-animation: active-menu-bar02 0.8s forwards;
	}

	.menu-trigger2 span:nth-of-type(3) {
		-webkit-transform: translateY(-13px) rotate(45deg);
		transform: translateY(-13px) rotate(45deg);
	}

	.menu-wrap2:hover {
		.menu-trigger2 {
			width: 52px;
			right: 20px;
			@include maxs($breakpoint-tab) {
				width: 44px;
				right: 13px;
			}
		}

		.menu-trigger2.active {
      transform: rotate(180deg);
		}
	}
}
$bp-small: 500px;
$bp-arrow: 700px;
$font-primary: 'Roboto Condensed', sans-serif;
$color: #333333;
$color-bg: #ffffff;
$color-dark: darken($color, 10%);
$color-lite: lighten($color, 10%);
@mixin position-center {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.all_ttl {
  text-align: left;
  padding: 5.5vh;
  @include maxs($breakpoint-tab) {
    padding: calc(var(--vh, 1vh) * 3.77);
  }
  img {
    height: 5.55vh;
    @include maxs($breakpoint-tab) {
      height: calc(var(--vh, 1vh) * 4.09);
    }
  }
}
.all_nav {
  ul {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 0.5%;
    @include maxs($breakpoint-tab) {
      margin-left: 0.5%;
    }
    li {
      // height: 32.63vh;
      width: 19.7%;
      margin: 0.1%;
      @include maxs($breakpoint-tab) {
        width: 19.21vh;
        width: 32.53%;
        margin: 0.3%;
        // height: 21.73vh;
      }
      a {

      }
    }
  }
}

.nav_index {
	z-index: 100;
	position: fixed;
	top: 0;
	right: 0;
	width: 360px;
	height: 100%;
	transform: translate3d(100%,0,0);
	backface-visibility: hidden;
	overflow: hidden;
	pointer-events: none;
	transition: transform 0.3s ease-out;
	@include maxs($breakpoint-tab) {
		width: 70vw;
	}

	&::before {
		content: '';
		@include position-center;
		background: #fff;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
}

.open .nav_index {
	transform: translate3d(0,0,0);
}

.nav_index ul {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	li {
		margin-bottom: 8vh;
		padding: 10px;
		text-align: left;
		@include maxs($breakpoint-tab) {
			margin-bottom: 8vh;
		}

		&:last-child {
			margin-bottom: 0;
		}

		a {
			cursor: pointer;
			pointer-events: all;
			@include maxs($breakpoint-tab) {
				font-size: 20px;
			}
		}

		img {
			position: relative;
			z-index: 10;
			height: 4vh;
			width: auto;
			@include maxs($breakpoint-tab) {
				height: 6vw;
			}
		}

		.cls-1 {
			fill: #fff;
			fill-rule: evenodd;
      transition: all 0.2s;
		}
		@media screen and (min-width:900px) {
			&:hover {
				&:before {
					left: 0;
					right: auto;
					width: 100%;
				}

				.cls-1 {
					fill: #000;
				}
			}
		}
	}
}
