footer {
	background: #00479d;
	color: #fff;
	text-align: center;
	.footlogo {
		text-align: center;
		padding: 25px 0;
		img {
			width: 144px;
		}
		border-bottom: 1px solid #fff;
	}
	.copy {
		font-size: 12px;
		display: block;
		padding: 1em 0;
		font-weight: 300;
		font-family: 'Roboto Condensed', sans-serif;
	}
}
