header {
  pointer-events: none;
  mix-blend-mode: exclusion;
  font-family: "Times New Roman", serif;
  z-index: 100;
  position: fixed;
  width: 100%;
  @include top(20);
  @include left(0);
  @include pl(20);
  @include pr(20);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  &.is-active {
    mix-blend-mode: normal;
  }
  .logo {
    pointer-events: auto;
    @include wide(290);
    position: relative;
    z-index: 111;
    img {
    }
  }
  .header_nav {//nav
    pointer-events: auto;
    position: relative;
    @include pt(14);
		@include media-sp {
			opacity: 0;
			pointer-events: none;
			transition: all 0.5s ease-out;
			position: fixed;
			display: flex;
			justify-content: center;
      align-items: center;
      @include sppb(200);
			background-color: rgba(0,0,0,0.8);
			top: 0;
			left: 0;
			z-index: 110;
			width: 100vw;
			height: 100vh;
			&.is-active{
				opacity: 1;
				pointer-events: all;
			}
		}
		ul{
			display: flex;
			@include media-sp {
				flex-direction: column;
				flex-wrap: wrap;
				align-items: center;
			}
			li{
        letter-spacing: 0.01em;
        @include fz(14);
        @include pl(10);
        @include pr(10);
				@include media-sp {
					padding: 0;
					width: 70vw;
					text-align: center;
					border-left:none;
					border-top: solid 1px #fff;
				}
				&:last-child {
					@include media-sp {
						border-bottom: solid 1px #fff;
					}
				}
				a{
          position: relative;
          @include sppt(20);
          @include sppb(20);
					color: #fff;
          display: block;
					text-decoration: none;
					transition: all 0.3s ease-out;
					white-space: nowrap;
          &:after {
            content: '';
            display: inline-block;
            position: absolute;
            @include bottom(-2);
            left: 0;
            width: 0%;
            height: 1px;
            background: #fff;
            transition: all 0.2s ease-out;
            @include media-sp {
              content: none;
            }
          }
					&:hover{
            &:after {
              width: 100%;
              transition: all 0.2s ease-out;
            }
					}
				}
			}
		}
	}
  .btn_toggle{
    pointer-events: auto;
    position: relative;
    z-index: 111;
    mix-blend-mode: exclusion;
		display: none;
    @include wide(60);
    @include height(60);
		position: relative;
		cursor: pointer;
		@include media-sp {
			display: block;
		}
		span::after,
		span::before {
      @include top(30);
		  position: absolute;
		  content: '';
		  width: 100%;
		  height: 1px;
		  display: block;
		  background: #FFF;
		  transition: transform .2s;
		}
		span::after {
		  transform: translateY(8px)
		}
		&.is-active span::before {
		  transform: rotate(20deg);
		  box-shadow: none;
		}
		&.is-active span::after {
		  transform: rotate(-20deg);
		}
	}
}
